<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Web App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Upload Image for OCR</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="ocrFile">Upload File for OCR: </label>
        <input type="file" name="ocrFile" id="ocrFile" title="Upload the Aadhar" accept="image/*" required>
        <br>
        <label for="referenceFile">Sample Image for Comparison:</label>
        <input type="file" name="referenceFile" id="referenceFile" title="Upload your photo" accept="image/*" required>
        <button type="submit">Upload</button>
    </form>
</body>

<footer>
    <p>Created by Aravind</p>
</footer>

</html>             